@media (max-width: 1620px) {
    .container {
        max-width: calc(100% - 100px);
    }

    .card {
        border-radius: 24px;
    }

    .card-heading {
        font-size: 22px;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: calc(100% - 75px);
    }
}

@media (max-width: 992px) {
    .container {
        max-width: calc(100% - 40px);
    }
}

@media (max-width: 620px) {
    .container {
        max-width: calc(100% - 25px);
    }

    .featured-profiles-wrapper {
        padding-top: 16px;
    }

    .icon-btn {
        width: 22px;
    }
}