@media (max-width: 1280px) {
    :root {
        --sidebar-width: 260px;
        --sidebar-width: 90px;
        --right-aside-width: 330px;
    }

    .container {
        max-width: calc(100% - 75px);
    }

    .card {}

    .btn-primary {
        span {}
    }

    .card-heading {}

    .sidebar-footer-card {
        display: none;
    }

    .moneyboy-layout-container {
        & .moneyboy-main-asides-layout-container {
            & .moneyboy-global-sidebar-wrapper {

                /* align-items: stretch; */
                & .global-sidebar-container {
                    background-color: white;
                    padding: 10px;
                    border-radius: 16px;
                    box-shadow: var(--card-shadow);

                    /* height: 100%; */
                    .sidebar-profile-card {
                        box-shadow: none;
                        padding: 0;
                        background: none;

                        .profile-card {
                            padding: 0;

                            .profile-card__main {
                                flex-direction: column;
                                gap: 16px;

                                .profile-card__info {
                                    display: none;
                                }
                            }
                        }
                    }

                    .sidebar-post-button {
                        .btn-primary {
                            padding: 0;
                            aspect-ratio: 1/1;
                            width: 100%;

                            svg {
                                transform: scale(1.23);
                            }

                            span {
                                display: none;
                            }
                        }
                    }

                    .sidebar-navigation-container {
                        background: none;
                        box-shadow: none;
                    }
                }
            }

            .moneyboy-page-content-container {
                & .moneyboy-dynamic-content-layout {
                    & .moneyboy-2x-1x-layout-container {
                        .moneyboy-2x-1x-b-layout {
                            /* display: none; */
                        }
                    }
                }
            }
        }
    }

    .sidbar-navigation {
        box-shadow: none;
        padding: 5px;

        ul {
            li {
                a {
                    aspect-ratio: 1/1;
                    width: 100%;
                    border-radius: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;

                    div {
                        svg {
                            width: 30px;

                            path {}
                        }

                        span {
                            display: none;
                        }
                    }

                    &.active,
                    &:hover {
                        div {
                            svg {
                                &.wishlist-icon {
                                    path:nth-child(3) {}
                                }

                                path {}
                            }

                            span {}
                        }
                    }

                    &.active {
                        div {
                            svg {
                                path {}
                            }

                            span {}
                        }
                    }
                }
            }
        }
    }

    /* Profile Card */
    .profile-card {
        &.featured-profile-card {
            .profile-card__main {
                .profile-card__avatar-settings {
                    .profile-card__avatar {
                        &::before {}

                        img {}
                    }
                }

                .profile-card__info {
                    .profile-card__name-badge {
                        .profile-card__name {}

                        .profile-card__badge {
                            img {}
                        }
                    }

                    .profile-card__username {
                        &:hover {}
                    }
                }
            }

            &:hover {
                .profile-card__main {
                    .profile-card__icon {
                        .profile-card__blur-icon {}
                    }
                }
            }
        }

        .profile-card__bg-img {
            &::before {}

            &::after {}

            img {}

            &~* {}

            img {}
        }

        .profile-card__main {
            .profile-card__avatar-settings {
                .profile-card__avatar {
                    img {}
                }

                .profile-card__settings {
                    svg {}
                }
            }

            .profile-card__info {
                .profile-card__name-badge {
                    .profile-card__name {}

                    .profile-card__badge {
                        img {}
                    }
                }

                .profile-card__username {
                    &:hover {}
                }
            }

            .profile-card__icon {
                .profile-card__blur-icon {
                    &:active {}

                    &:hover {}

                    &.like-button {
                        &.liked {
                            svg {
                                path {}
                            }
                        }
                    }
                }
            }
        }

        .profile-card__stats {
            display: none;

            .profile-card__stats-item {
                &:hover {

                    .profile-card__stats-num,
                    .profile-card__stats-label span {}

                    .profile-card__stats-label {
                        svg {
                            path {}
                        }
                    }
                }

                .profile-card__stats-num {}

                .profile-card__stats-label {
                    svg {
                        path {}
                    }

                    span {}
                }
            }
        }

        .profile-card__desc {
            p {}
        }
    }

    /*  */
    .moneyboy-feed-page-container {
        .moneyboy-feed-page-cate-buttons {
            &.is-sticky {}

            /* Feed Page Post type Navigation Buttons */
            .page-content-type-button {

                &:hover,
                &.active {}
            }
        }
    }

    /* Posts  */
    .moneyboy-posts-wrapper {
        .moneyboy-post__container {
            &:hover {
                .moneyboy-post__media {
                    img {}

                    .moneyboy-post__actions {}
                }
            }

            .moneyboy-post__header {
                .profile-card {
                    &.featured-profile-card {
                        .profile-card__main {
                            .profile-card__avatar-settings {
                                .profile-card__avatar {
                                    img {}
                                }
                            }

                            .profile-card__info {
                                .profile-card__name-badge {
                                    .profile-card__name {}

                                    .profile-card__badge {
                                        img {}
                                    }
                                }

                                .profile-card__username {}
                            }
                        }

                        &:hover {
                            .profile-card__main {
                                .profile-card__icon {
                                    .profile-card__blur-icon {}
                                }
                            }
                        }
                    }

                    .profile-card__bg-img {
                        &::before {}

                        &::after {}

                        img {}

                        &~* {}

                        img {}
                    }

                    .profile-card__main {
                        .profile-card__avatar-settings {
                            .profile-card__avatar {
                                img {}
                            }

                            .profile-card__settings {
                                svg {}
                            }
                        }

                        .profile-card__info {
                            .profile-card__name-badge {
                                .profile-card__name {}

                                .profile-card__badge {
                                    img {}
                                }
                            }

                            .profile-card__username {}
                        }

                        .profile-card__icon {
                            .profile-card__blur-icon {
                                &:hover {}
                            }
                        }
                    }

                    .profile-card__stats {
                        .profile-card__stats-item {
                            &:hover {

                                .profile-card__stats-num,
                                .profile-card__stats-label span {}
                            }

                            .profile-card__stats-num {}

                            .profile-card__stats-label {
                                svg {}

                                span {}
                            }
                        }
                    }

                    .profile-card__desc {
                        p {}
                    }
                }

                .moneyboy-post__upload-more-info {
                    .moneyboy-post__upload-time {}

                    .moenyboy-post__more-opt-btn {
                        svg {
                            path {}
                        }
                    }
                }
            }

            .moneyboy-post__desc {
                span {
                    &:hover {}
                }
            }

            .moneyboy-post__media {
                &:hover {}

                .moneyboy-post__img {
                    img {}
                }

                .moneyboy-post__actions {
                    ul {
                        li {
                            a {
                                svg {}

                                span {}

                                &:active {
                                    svg {}
                                }

                                &:hover {
                                    svg {
                                        path {}
                                    }

                                    span {}
                                }
                            }
                        }

                        &:nth-child(1) {
                            li {
                                &:nth-child(1) {
                                    a {
                                        svg {}

                                        span {}

                                        &:active {
                                            svg {}
                                        }

                                        &:hover {
                                            svg {
                                                path {
                                                    &:nth-child(1) {}

                                                    &:nth-child(2) {}

                                                    &:nth-child(3),
                                                    &:nth-child(4),
                                                    &:nth-child(5) {}
                                                }
                                            }

                                            span {}
                                        }
                                    }
                                }

                                &:nth-child(2) {
                                    a {
                                        svg {}

                                        span {}

                                        &:active {
                                            svg {}
                                        }

                                        &:hover {
                                            svg {
                                                path {}
                                            }

                                            span {}
                                        }

                                        &.post-like-btn {
                                            &.liked {
                                                svg {
                                                    path {}
                                                }
                                            }
                                        }
                                    }
                                }

                                &:nth-child(3) {
                                    a {
                                        svg {}

                                        span {}

                                        &:active {
                                            svg {}
                                        }

                                        &:hover {
                                            svg {
                                                path {
                                                    &:nth-child(1) {}
                                                }
                                            }

                                            span {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}