@media (max-width: 1620px) {
    :root {
        --sidebar-width: 300px;
        --right-aside-width: 370px;
    }

    .container {
        max-width: calc(100% - 100px);
    }

    .card {
        border-radius: 24px;
    }

    .btn-primary {
        border-radius: 14px;
        padding-block: 20px;

        span {
            font-size: 19px;
        }
    }

    .card-heading {
        font-size: 22px;
    }

    .sidbar-navigation {
        padding: 16px;

        ul {
            li {
                a {
                    padding: 10px 12px;

                    div {
                        svg {
                            width: 28px;

                            path {}
                        }

                        span {
                            font-size: 20px;
                        }
                    }

                    &.active,
                    &:hover {
                        div {
                            svg {
                                &.wishlist-icon {
                                    path:nth-child(3) {}
                                }

                                path {}
                            }

                            span {}
                        }
                    }

                    &.active {
                        div {
                            svg {
                                path {}
                            }

                            span {}
                        }
                    }
                }
            }
        }
    }

    /* Profile Card */
    .profile-card {
        padding: 14px;

        &.featured-profile-card {
            padding: 12px;
            border-radius: 16px;

            .profile-card__main {
                .profile-card__avatar-settings {
                    .profile-card__avatar {
                        width: 54px;
                        border-radius: 16px;

                        &::before {}

                        img {}
                    }
                }

                .profile-card__info {
                    .profile-card__name-badge {
                        .profile-card__name {
                            font-size: 18px;
                        }

                        .profile-card__badge {
                            img {}
                        }
                    }

                    .profile-card__username {
                        font-size: 15px;

                        &:hover {}
                    }
                }
            }

            &:hover {
                .profile-card__main {
                    .profile-card__icon {
                        .profile-card__blur-icon {}
                    }
                }
            }
        }

        .profile-card__bg-img {
            &::before {}

            &::after {}

            img {}

            &~* {}

            img {}
        }

        .profile-card__main {
            .profile-card__avatar-settings {
                .profile-card__avatar {
                    width: 70px;

                    img {}
                }

                .profile-card__settings {
                    svg {}
                }
            }

            .profile-card__info {
                .profile-card__name-badge {
                    .profile-card__name {
                        font-size: 20px;
                    }

                    .profile-card__badge {
                        img {
                            width: 24px;
                        }
                    }
                }

                .profile-card__username {
                    &:hover {}
                }
            }

            .profile-card__icon {
                .profile-card__blur-icon {
                    &:active {}

                    &:hover {}

                    &.like-button {
                        &.liked {
                            svg {
                                path {}
                            }
                        }
                    }
                }
            }
        }

        .profile-card__stats {
            padding: 14px 8px 10px;
            gap: 16px;
            border-radius: 16px;

            .profile-card__stats-item {
                gap: 6px;

                &:hover {

                    .profile-card__stats-num,
                    .profile-card__stats-label span {}

                    .profile-card__stats-label {
                        svg {
                            path {}
                        }
                    }
                }

                .profile-card__stats-num {
                    font-size: 18px;
                }

                .profile-card__stats-label {
                    svg {
                        path {}
                    }

                    span {}
                }
            }
        }

        .profile-card__desc {
            p {}
        }
    }

    /*  */
    .moneyboy-feed-page-container {
        .moneyboy-feed-page-cate-buttons {
            border-radius: 18px;
            padding: 8px 10px;

            &.is-sticky {}

            /* Feed Page Post type Navigation Buttons */
            .page-content-type-button {
                padding: 15px 0px;
                font-size: 18px;
                border-radius: 14px;

                &:hover,
                &.active {}
            }
        }
    }

    /* Posts  */
    .moneyboy-posts-wrapper {
        .moneyboy-post__container {
            gap: 16px;

            &:hover {
                .moneyboy-post__media {
                    img {}

                    .moneyboy-post__actions {}
                }
            }

            .moneyboy-post__header {
                .profile-card {
                    &.featured-profile-card {
                        .profile-card__main {
                            .profile-card__avatar-settings {
                                .profile-card__avatar {
                                    img {}
                                }
                            }

                            .profile-card__info {
                                .profile-card__name-badge {
                                    .profile-card__name {}

                                    .profile-card__badge {
                                        img {}
                                    }
                                }

                                .profile-card__username {}
                            }
                        }

                        &:hover {
                            .profile-card__main {
                                .profile-card__icon {
                                    .profile-card__blur-icon {}
                                }
                            }
                        }
                    }

                    .profile-card__bg-img {
                        &::before {}

                        &::after {}

                        img {}

                        &~* {}

                        img {}
                    }

                    .profile-card__main {
                        gap: 14px;

                        .profile-card__avatar-settings {
                            .profile-card__avatar {
                                img {}
                            }

                            .profile-card__settings {
                                svg {}
                            }
                        }

                        .profile-card__info {
                            .profile-card__name-badge {
                                .profile-card__name {}

                                .profile-card__badge {
                                    img {}
                                }
                            }

                            .profile-card__username {}
                        }

                        .profile-card__icon {
                            .profile-card__blur-icon {
                                &:hover {}
                            }
                        }
                    }

                    .profile-card__stats {
                        .profile-card__stats-item {
                            &:hover {

                                .profile-card__stats-num,
                                .profile-card__stats-label span {}
                            }

                            .profile-card__stats-num {}

                            .profile-card__stats-label {
                                svg {}

                                span {}
                            }
                        }
                    }

                    .profile-card__desc {
                        p {}
                    }
                }

                .moneyboy-post__upload-more-info {
                    .moneyboy-post__upload-time {}

                    .moenyboy-post__more-opt-btn {
                        svg {
                            path {}
                        }
                    }
                }
            }

            .moneyboy-post__desc {
                font-size: 17px;

                span {
                    &:hover {}
                }
            }

            .moneyboy-post__media {
                border-radius: 24px;

                &:hover {}

                .moneyboy-post__img {
                    img {}
                }

                .moneyboy-post__actions {
                    padding: 20px;
                    border-radius: 18px;

                    ul {
                        li {
                            a {
                                gap: 8px;

                                svg {}

                                span {}

                                &:active {
                                    svg {}
                                }

                                &:hover {
                                    opacity: 1;

                                    svg {
                                        path {}
                                    }

                                    span {}
                                }
                            }
                        }

                        &:nth-child(1) {
                            li {
                                &:nth-child(1) {
                                    a {
                                        svg {}

                                        span {}

                                        &:active {
                                            svg {}
                                        }

                                        &:hover {
                                            svg {
                                                path {
                                                    &:nth-child(1) {}

                                                    &:nth-child(2) {}

                                                    &:nth-child(3),
                                                    &:nth-child(4),
                                                    &:nth-child(5) {}
                                                }
                                            }

                                            span {}
                                        }
                                    }
                                }

                                &:nth-child(2) {
                                    a {
                                        svg {}

                                        span {}

                                        &:active {
                                            svg {}
                                        }

                                        &:hover {
                                            svg {
                                                path {}
                                            }

                                            span {}
                                        }

                                        &.post-like-btn {
                                            &.liked {
                                                svg {
                                                    path {}
                                                }
                                            }
                                        }
                                    }
                                }

                                &:nth-child(3) {
                                    a {
                                        svg {}

                                        span {}

                                        &:active {
                                            svg {}
                                        }

                                        &:hover {
                                            svg {
                                                path {
                                                    &:nth-child(1) {}
                                                }
                                            }

                                            span {}
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}