/* ==========================================================================
   Layout Stylesheet
   - Page structure (header, footer, sidebar, feed container)
   - Flexbox/grid utilities
   - Wrappers and containers
   - Spacing and alignment rules
   ========================================================================== */
.moneyboy-layout-container {
   min-height: 100dvh;
   max-height: 100dvh;
   overflow: auto;
}

.moneyboy-main-asides-layout-container {
   display: flex;
   gap: 28px;
   padding-block: 34px;

   .moneyboy-global-sidebar-wrapper {
      width: 100%;
      max-width: 344px;

      .global-sidebar-container {
         display: flex;
         flex-direction: column;
         gap: 20px;

         .sidebar-profile-card {}

         .sidebar-post-button {}

         .sidebar-navigation-container {}

         .sidebar-footer-card {}
      }
   }

   .moneyboy-page-content-container {
      background-color: rgb(133, 73, 73);
      width: 100%;
   }
}