/* ==========================================================================
   Layout Stylesheet
   - Page structure (header, footer, sidebar, feed container)
   - Flexbox/grid utilities
   - Wrappers and containers
   - Spacing and alignment rules
   ========================================================================== */
.moneyboy-layout-container {
   min-height: 100dvh;
   max-height: 100dvh;
   overflow: auto;
}

.moneyboy-main-asides-layout-container {
   display: flex;
   gap: 28px;
   padding-block: 34px;

   .moneyboy-global-sidebar-wrapper {
      width: 100%;
      max-width: 344px;

      .global-sidebar-container {
         display: flex;
         flex-direction: column;
         gap: 20px;

         .sidebar-profile-card {}

         .sidebar-post-button {}

         .sidebar-navigation-container {}

         .sidebar-footer-card.card {
            border-radius: 21px;
         }
      }
   }

   .moneyboy-page-content-container {
      width: 100%;

      .moneyboy-dynamic-content-layout {
         width: 100%;

         .moneyboy-2x-1x-layout-container {
            display: flex;
            gap: 28px;

            .moneyboy-2x-1x-a-layout {
               width: 100%;
            }

            .moneyboy-2x-1x-b-layout {
               width: 100%;
               max-width: 400px;
            }
         }
      }
   }
}