/* ==========================================================================
   Layout Stylesheet
   - Page structure (header, footer, sidebar, feed container)
   - Flexbox/grid utilities
   - Wrappers and containers
   - Spacing and alignment rules
   ========================================================================== */
.moneyboy-layout-container {
   min-height: 100dvh;
   max-height: 100dvh;
   overflow: auto;

   .header-main {
      /* Keep header visible on scroll and slightly elevated above page content */
      position: sticky;
      z-index: 5;
      top: 0;
      height: var(--header-height);
   }

   .moneyboy-main-asides-layout-container {
      display: flex;
      gap: 12px;
      gap: var(--spacing-md);

      &:has(.moneyboy-global-sidebar-wrapper.has-scroll) {
         .moneyboy-global-sidebar-wrapper {
            max-width: calc(var(--sidebar-width) + calc(calc(var(--spacing-sm) + calc(var(--spacing-xxs) + 0px))));
            min-width: calc(var(--sidebar-width) + calc(calc(var(--spacing-sm) + calc(var(--spacing-xxs) + 0px))));
            padding-right: var(--spacing-xxs);
            margin-right: calc(-1 * calc(var(--spacing-xxs) + 10px));
         }
      }

      .moneyboy-global-sidebar-wrapper {
         width: 100%;
         border-radius: 32px;
         overflow: auto;
         position: sticky;
         top: calc(calc(var(--header-height) + var(--spacing-md)) - var(--spacing-sm));
         max-height: calc(100dvh - calc(calc(var(--header-height) + calc(2 * var(--spacing-md))) - calc(2 * var(--spacing-sm))));
         max-width: calc(var(--sidebar-width) + calc(var(--spacing-sm) + var(--spacing-sm)));
         min-width: calc(var(--sidebar-width) + calc(var(--spacing-sm) + var(--spacing-sm)));
         padding-block: var(--spacing-sm);
         padding-left: var(--spacing-sm);
         padding-right: var(--spacing-sm);
         margin-left: calc(-1 * var(--spacing-sm));
         margin-right: calc(-1 * var(--spacing-sm));
         /* Scrollbar */
         scrollbar-width: thin;
         scrollbar-color: #aaaaaa00 transparent;

         &:hover {
            scrollbar-color: #aaaaaa transparent;
         }

         .global-sidebar-container {
            display: flex;
            flex-direction: column;
            gap: var(--spacing-md);

            .sidebar-profile-card {}

            .sidebar-post-button {}

            .sidebar-navigation-container {}

            .sidebar-footer-card.card {
               border-radius: 21px;
            }
         }
      }

      .moneyboy-page-content-container {
         padding-block: 34px;
         padding-block: var(--spacing-md);
         width: 100%;

         .moneyboy-dynamic-content-layout {
            width: 100%;

            .moneyboy-2x-1x-layout-container {
               display: flex;
               gap: var(--spacing-md);

               .moneyboy-2x-1x-a-layout {
                  width: 100%;
               }

               .moneyboy-2x-1x-b-layout {
                  width: 100%;
                  max-width: var(--right-aside-width);
               }

               .creator-profile-page-container {
                  width: 100%;

                  .creator-profile-front-content-container {
                     display: flex;
                     flex-direction: column;
                     gap: 20px;

                     .creator-profile-page-multi-tab-section {
                        .creator-profile-page-multi-tab-container {
                           /* background-color: orange; */
                        }
                     }
                  }
               }
            }
         }
      }
   }
}