/* Profile Card */
.profile-card {
    width: 100%;
    padding: 17px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: var(--transition-fast);
    position: relative;

    &.featured-profile-card {
        padding: 14px;
        overflow: hidden;
        border-radius: 20px;
        transition: var(--transition-normal);
        will-change: transform;

        .profile-card__main {
            .profile-card__avatar-settings {
                .profile-card__avatar {
                    width: 61px;
                    position: relative;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        inset: 0;
                        border-radius: inherit;
                        border: 2px solid #FFFFFF7A;
                    }

                    img {}
                }
            }

            .profile-card__info {
                gap: 2px;

                .profile-card__name-badge {
                    .profile-card__name {
                        color: white;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 100%;
                        text-transform: capitalize;
                    }

                    .profile-card__badge {
                        img {
                            width: 27px;
                        }
                    }
                }

                .profile-card__username {
                    color: #FFFFFF9E;
                    font-family: var(--font-family-secondary);
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 100%;

                    &:hover {
                        color: white;
                    }
                }
            }
        }

        &:hover {
            cursor: pointer;
            filter: brightness(110%);
            box-shadow: var(--card-shadow);
            transform: scale(1.025);

            .profile-card__main {
                .profile-card__icon {
                    .profile-card__blur-icon {}
                }
            }
        }
    }

    .profile-card__bg-img {
        position: absolute;
        inset: 0;

        &::before {
            content: '';
            background: #0000004A;
            position: absolute;
            inset: 0;
        }

        &::after {
            content: '';
            background: #00000063;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 48px;
            backdrop-filter: blur(4px);
        }

        img {}

        &~* {
            position: relative;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .profile-card__main {
        display: flex;
        align-items: center;
        gap: 10px;

        .profile-card__avatar-settings {
            position: relative;

            .profile-card__avatar {
                width: 81px;
                aspect-ratio: 1/1;
                overflow: hidden;
                border-radius: 21px;

                img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                }
            }

            .profile-card__settings {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 30px;
                aspect-ratio: 1/1;
                border-radius: 11px;
                display: grid;
                place-items: center;
                background-color: white;
                box-shadow: 0px 6px 4px -4px #08080803, 0px 2px 1.5px -4px #0808080A, 0px 4px 4px 0px #00000017;

                svg {}
            }
        }

        .profile-card__info {
            display: flex;
            flex-direction: column;
            gap: 7px;

            .profile-card__name-badge {
                display: flex;
                align-items: center;
                gap: 2px;

                .profile-card__name {
                    font-family: var(--font-family-heading);
                    font-weight: 500;
                    font-size: 24px;
                    font-style: normal;
                    line-height: 100%;
                    color: var(--color-text-active);
                }

                .profile-card__badge {
                    display: flex;
                    align-items: center;

                    img {
                        width: 27px;
                    }
                }
            }

            .profile-card__username {
                font-family: var(--font-family-base);
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                color: #505050;
                transition: var(--transition-fast);

                &:hover {
                    color: #000000;
                }
            }
        }

        .profile-card__icon {
            display: flex;
            align-items: center;
            margin-left: auto;

            .profile-card__blur-icon {
                width: 36px;
            }
        }
    }

    .profile-card__stats {
        background-color: #F9F9F9;
        border: 1.5px solid #EBEBEB;
        border-radius: 21px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        justify-content: center;
        gap: 20px;
        padding: 16px 21px 10px;

        .profile-card__stats-item {
            display: flex;
            flex-direction: column;
            gap: 8px;
            cursor: pointer;

            &:hover {

                .profile-card__stats-num,
                .profile-card__stats-label span {
                    color: var(--color-text-active);
                }

                .profile-card__stats-label {
                    svg {
                        path {
                            fill: var(--color-text-active);
                        }
                    }
                }
            }

            .profile-card__stats-num {
                font-family: var(--font-family-heading);
                font-weight: 500;
                font-size: 20px;
                line-height: 16px;
                letter-spacing: 0px;
                transition: var(--transition-fast);
                color: #444444;
            }

            .profile-card__stats-label {
                display: flex;
                align-items: center;
                gap: 4px;

                svg {
                    transition: var(--transition-fast);

                    path {
                        fill: #505050;
                    }
                }

                span {
                    font-family: var(--font-family-base);
                    font-weight: 500;
                    font-style: Medium;
                    font-size: 12px;
                    line-height: 24px;
                    letter-spacing: -1%;
                    transition: var(--transition-fast);
                    color: #505050;
                }
            }
        }
    }

    .profile-card__desc {
        p {
            font-family: var(--font-family-base);
            font-weight: 500;
            font-size: 12px;
            line-height: 24px;
            line-height: 18px;
            letter-spacing: -1%;
            color: #A6A6A6;
        }
    }
}

/* User Profile Card */
.user-profile-card-wrapper {
    .user-profile-card-container {
        position: relative;
        aspect-ratio: 260/ 332;
        border-radius: 32px;
        overflow: hidden;
        box-shadow: 0px 4px 13.5px 0px #00000040;
        cursor: pointer;
        transition: var(--transition-fast);

        &:hover {
            box-shadow: 0px 4px 13.5px 0px #1d1d1d79;
        }

        .user-profile-card__img {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .user-profile-content-overlay-container {
            position: absolute;
            inset: 0;
            padding: 12px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;

            .user-profile-card__action-btns {
                display: flex;
                align-items: center;
                gap: 6px;

                .user-profile-card__like-btn {
                    width: 36px;

                    .like-button {
                        background-color: #FFFFFF30;
                        backdrop-filter: blur(0px);

                        &:hover {
                            filter: brightness(110%);
                        }
                    }

                    svg {
                        path {
                            stroke: white;
                        }
                    }
                }
            }

            .user-profile-card__info-container {
                width: 100%;
                background: #00000029;
                backdrop-filter: blur(25px);
                border: 1px solid #ffffff5b;
                border-radius: 15px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 15px 13px;

                .user-profile-card__info {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    .user-profile-card__name-badge {
                        display: flex;
                        align-items: center;
                        gap: 2px;

                        .user-profile-card__name {
                            font-family: var(--font-family-heading);
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 100%;
                            letter-spacing: 0.65px;
                            color: #FFFFFF;
                        }

                        .user-profile-card__badge {
                            width: 27px;
                            display: flex;

                            img {
                                width: 100%;
                            }
                        }
                    }

                    .user-profile-card__username {
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 100%;
                        color: #FFFFFF9E;
                    }
                }

                .user-profile-card__wishlist-btn {
                    background-color: #FFFFFF30;
                    display: grid;
                    place-items: center;
                    width: 36px;
                    aspect-ratio: 1/1;
                    border-radius: 100%;
                    cursor: pointer;

                    &:hover {
                        svg {
                            scale: 1.1;
                        }
                    }

                    svg {
                        will-change: transform;
                        transition: var(--transition-fast);

                        path {
                            stroke: white;
                        }
                    }
                }
            }
        }
    }
}

.creator-content-card-container {
    width: 100%;

    .creator-content-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #F4F4F4;
        border-radius: 32px;
        padding: 10px;
        gap: 10px;
        transition: var(--transition-fast);
        will-change: transform;

        &:hover {
            box-shadow: 0px 6px 4px -4px #08080816, 0px 2px 13.5px 1px #08080825;
            cursor: pointer;
            transform: translateY(-4px);

            .creator-content-card__media {
                .creator-card__img {
                    img {
                        transform: scale(1.05);
                    }
                }

                .content-locked-label {
                    backdrop-filter: blur(25px);
                    background: #ffd00044;
                }
            }
        }

        .creator-content-card__media {
            position: relative;
            width: 100%;
            aspect-ratio: 230/170;
            overflow: hidden;
            border-radius: inherit;
            display: flex;
            align-items: center;
            justify-content: center;

            .creator-card__img {
                width: 100%;
                height: 100%;
                transition: var(--transition-fast);
                will-change: transform;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    transition: var(--transition-fast);
                    will-change: transform;
                }
            }

            .content-locked-label {
                position: absolute;
                display: flex;
                gap: 5px;
                align-items: center;
                border: 1px solid #ffffff4d;
                padding: 8px 10px;
                background: #00000029;
                backdrop-filter: blur(25px);
                backdrop-filter: blur(10px);
                border-radius: 14px;
                transition: var(--transition-fast);
                will-change: transform;

                svg {
                    path {
                        stroke: #fff;
                    }
                }

                span {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 26px;
                    letter-spacing: 3%;
                    color: #FFFFFF;
                }
            }
        }

        .creator-content-card__description {
            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 3%;
                color: #00000099;
            }
        }

        .creator-content-card__stats {
            display: flex;
            gap: 10px;
            align-items: center;

            .creator-content-stat-box {
                padding: 9px 10px;
                background-color: #fff;
                border: 1.5px solid #EBEBEB;
                border-radius: 12px;
                box-shadow: 0px 0px 0px 3px #FFFFFF inset;
                display: flex;
                align-items: center;
                gap: 10px;

                svg {
                    path {
                        stroke: #505050;
                    }
                }

                span {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 26px;
                    letter-spacing: 3%;
                    color: #444444;
                }
            }
        }
    }
}

/* Grow Network Card (Right Aside Card) */
.moneyboy-network-grow-card-wrapper {
    position: sticky;
    top: calc(var(--header-height) + var(--spacing-md));
    align-self: flex-start;

    .moneyboy-network-grow-card {
        width: 100%;
        aspect-ratio: 1/1;
        max-height: 345px;
        overflow: hidden;
        border-radius: inherit;
        box-shadow: 0px 6px 4px -4px #08080803, 0px 2px 1.5px -4px #0808080A;
        position: relative;
        display: flex;
        justify-content: center;

        &:hover {
            .bg-img {
                transform: scale(1.1);
            }
        }

        &::before {
            content: '';
            background: #00000033;
            position: absolute;
            inset: 0;
            z-index: 2;
        }

        .bg-img {
            transition: var(--transition-fast);
            transition: all 5s ease;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .text-logo {
            position: absolute;
            bottom: 50px;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            gap: 7px;
            z-index: 3;

            h3 {
                font-family: var(--font-family-heading);
                font-weight: 500;
                font-size: 32px;
                line-height: 100%;
                text-align: center;
                text-transform: capitalize;
                color: #FFFFFF;
            }

            img {
                width: 100%;
                max-width: 323px;
            }
        }
    }
}